{% extends "base.html" %}
{% load static %}

{% block head %}
    <meta name="google-signin-client_id"
          content="48231090303-5c76irfjhm5mer15kbm4vhn51m7a1lr2.apps.googleusercontent.com">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
{% endblock head %}

{% block content %}
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- https://developers.google.com/identity/sign-in/web/sign-in -->

    {% if user.is_authenticate %}
        <p>책 등록하기</p>
        <form action="">
            <label for="isbn13">isbn13:</label>
            <input type="text" name="isbn13">
        </form>
        <p>유저 책장</p>
    {% else %}
        <p>서지정보로 책 검색하기</p>
        <form action="">
            <label for="isbn13">isbn13:</label>
            <input type="text" name="isbn13">
        </form>
    {% endif %}
{% endblock content %}
