{% extends "base.html" %}
{% load static %}

{% block head %}
    <meta name="google-signin-client_id"
          content="48231090303-5c76irfjhm5mer15kbm4vhn51m7a1lr2.apps.googleusercontent.com">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
{% endblock head %}

{% block content %}
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- https://developers.google.com/identity/sign-in/web/sign-in -->
{% endblock content %}
