<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {{ form }}
        <button type="submit">제출</button>
{#        <hr/>#}
{#        <div>#}
{#            {{ form.email.label }}#}
{#            {{ form.email }}#}
{#        </div>#}
{#        <div>#}
{#            {{ form.password1.label }}#}
{#            {{ form.password2 }}#}
{#        </div>#}
{#        <div>#}
{#            {{ form.password2.label }}#}
{#            {{ form.password2 }}#}
{#        </div>#}
{#        <div>#}
{#            {{ form.errors }}#}
{#        </div>#}
{#        <hr/>#}
{#        {% for fields in form.fields %}#}
{#            <div>#}
{#                {{ fields }}#}
{#            </div>#}
{#        {% endfor %}#}
    </form>
</body>
</html>
